
<!DOCTYPE html>
<html>
<head>
    <title>Administración</title>
</head>
<body>
    <h1>Bienvenido a la Administración del Restaurante</h1>
    <ul>
        <li><a href="{% url 'menu_create' %}">Gestión de Menús</a></li>
        <li><a href="{% url 'mesa_create' %}">Gestión de Mesas</a></li>
        <li><a href="{% url 'empleado_create' %}">Gestión de Empleados</a></li>
        <li><a href="{% url 'venta_list' %}">Ver Ventas</a></li>
    </ul>
    <br>
    <a href='{%url 'index'%}'>INICIO</a>
</body>
</html>
