{% extends "administracion/base.html" %}

{% block content %}
<h1>Lista de Menús</h1>
<a class="btn btn-primary mb-3" href="{% url 'menu_create' %}">Añadir Nuevo Menú</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for menu in menus %}
        <tr>
            <td>{{ menu.nombre }}</td>
            <td>{{ menu.precio }}€</td>
            <td>
                <a class="btn btn-warning btn-sm" href="{% url 'menu_edit' menu.pk %}">Editar</a>
                <a class="btn btn-danger btn-sm" href="{% url 'menu_confirm_delete' menu.pk %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}