
<!DOCTYPE html>
<html>
<head>
    <title>Administración</title>
</head>
<body>
    <h1>Bienvenido a la Administración del Restaurante</h1>
    <ul>
        <li><a href="{% url 'menu_list' %}">Gestión de Menús2</a></li>
        <li><a href="{% url 'mesa_list' %}">Gestión de Mesas2</a></li>
        <li><a href="{% url 'empleado_list' %}">Gestión de Empleados2</a></li>
        <li><a href="{% url 'venta_list' %}">Ver Ventas2</a></li>
    </ul>
    <br>
    <a href='{%url 'index'%}'>INICIO</a>
</body>
</html>
