{% extends "administracion/base.html" %}

{% block content %}
<h1>{% if form.instance.pk %}Editar Menú{% else %}Nuevo Menú{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
        {{ form.nombre }}
    </div>
    <div class="form-group">
        <label for="{{ form.precio.id_for_label }}">Precio:</label>
        {{ form.precio }}
    </div>
    <div class="form-group">
        <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
        {{ form.descripcion }}
    </div>
    <div class="form-group">
        <label for="{{ form.categoria.id_for_label }}">Categoría:</label>
        {{ form.categoria }}
    </div>
    <div class="form-group">
        <label for="{{ form.imagen.id_for_label }}">Imagen:</label>
        {{ form.imagen }}
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}

